@model POS.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Categoria</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2">Agregar</button> 
                <a class="btn btn-info mb-2" asp-action="Index">Lista de Categorias</a>
                <a class="btn btn-outline-success mb-2" asp-controller="Productos" asp-action="Create">Volver a "Ingresar Producto"</a>
            </div>

            <hr/>
           

        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
