@model POS.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Categoria</h1>

<h3>Confirmar</h3>

<div>
    <hr/> 
    <dl class="row row-cols-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
  
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId"/>
        <button type="submit" class="btn btn-danger">Eliminar</button> 
        <a class="btn btn-primary" asp-action="Index">Volver Atras</a>
    </form>
</div>
