@model POS.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar registro de Venta</h1>

<h3>Confirmar</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VentaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Volver Atras</a>
    </form>
</div>
