



<div class="text-center">
    <figure class="text-center">
        <blockquote class="blockquote">
            <h1>Disclaimer</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            Descargo de Responsabilidades
        </figcaption>
    </figure>
    <p>
        El autor no asume ninguna responsabilidad de la distribucion o comercializacion de este sitio, ya que su creacion esta destinada exclusivamente con fines de prueba y/o demo.
        El contenido del sitio y las funciones ofrecidas mediante el mismo funcionan tal y como son.
    </p>
</div>